* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/*********************  Header Sec Start *********************/
#header {
   background-color: rgb(rgb(255, 255, 255));
   height: 68px;
}

.input-group {
   width: 20% !important;
   padding-left: 20px;
}
#form_1 {
   width: 57% !important;
   margin-left: 20px;
}
.form-control {
   width: 85% !important;
}
#sell_btn {
   border: 1px solid black;
   margin-left: 15px;
}

#profile_dropdown {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid;
   background-color: #333333;
}
/******************** Header Sec End *********************/

/******************** Category Sec Start*************/
#all_Category {
   margin-right: 20px;
   background-color: white !important;
}
/********************Category Sec End*********************/
/******************** main Banner Start*********************/
#banner {
   background-image: url(/img/banner.jpg);
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   height: 252px;
}
/********************Main Banner End*********************/

/********************Products Sec Start*********************/
/********************Products Sec End*********************/

/*********************Footer Banner**********************/
#main_footer_banner {
   width: 100%;
   height: 198px;
   background-color: #f8f9fa;
   margin-top: 20px;
}
#footer_bg_img {
   background-image: url(/img/phone-app.png);
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   width: 435px;
   height: 198px;
}
#footer_banner_Text {
   padding-top: 20px;
   align-items: right;
   border-right: 2px solid gainsboro;
}
#footer_banner_Text span {
   text-transform: uppercase;
   font-size: 34px;
   line-height: 40px;
   font-weight: 700;
}
#footer_banner_Text p {
   font-size: 20px;
   line-height: 24px;
   font-weight: 400;
}

#footer_banner_link p {
   font-size: 16px;
   line-height: 20px;
   font-weight: 700;
   padding: 50px 0 0 20px;
}
.row_1 {
   display: flex;
}

#column {
   flex: 50%;
}

/*********************Footer Banner End**********************/

/*********************Footer Start**********************/
#footer {
   width: 100%;
   height: 211px;
   background-color: rgb(235, 238, 239);
   overflow: hidden;
}
#footer_links {
   width: 100%;
   height: 161px;
}

.footer_li {
   padding-top: 20px;
   width: 18%;
   display: inline-block;
}
.footer_li span {
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   margin-top: 20px;
}

.footer_li a {
   font-weight: 400;
   font-size: 12px;
   text-transform: none;
   text-decoration: none;
   color: rgba(0, 47, 52, 0.64);
}
.footer_li li {
   list-style: none;
}

#footer_end {
   background-color: #002f34;
   width: 100%;
   height: 50px;
}
.span_1 {
   font-weight: 700;
   font-size: 12px;
   color: white;
}
.span_2 {
   font-weight: 400;
   font-size: 12px;
   color: white;
}

#footer_end_2 {
   margin-left: 600px;
}
/*********************Footer End**********************/

/***********************Sell Page Sec*********************/

/***********************Sell Header Start*********************/
#sell_Div {
   width: 100%;
}
#sell_nav a {
   display: inline-block;
}
#sell_nav {
   width: 100%;
   height: 68px;
   background-color: #f8f9fa;
   padding: 10px 0;
}
#sell_nav img {
   padding: 10px 0;
   margin-left: 20px;
}
/***********************Sell Header End*********************/

/***********************Sell Form Start*********************/

#sell_form {
   border: 1px solid gainsboro;
   width: 50%;
}

#sell_form h4 {
   font-weight: 700;
   text-transform: uppercase;
}
#sell_div span {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 24px;
   margin-left: 43%;
}

.my_img {
   width: 100px;
   height: 100px;
   border: 1px solid gainsboro;
   margin: 10px;
}
.image_Icons {
   background: url(/img/camera-solid.svg) no-repeat center;
   width: 50px;
   height: 50px;
   margin: 22% 0;
}

#postNow {
   width: 90px;
   height: 40px;
   background-color: #d8dfe0;
   color: #7f9799;
   border-color: #7e7f80;
}

#sell_footer {
   background-color: #002f34;
   height: 50px;
   width: 100%;
}

#sub_Sell_footer {
   overflow: hidden;
   float: right;
   width: 50%;
}
#sub_Sell_footer span {
   font-size: 12px;
   color: white;
   font-weight: 700;
}
/***********************Sell Form End*********************/

/***********************Sell Page Sec End*********************/ ;
